<a href="https://colab.research.google.com/github/AnthonyIacullo/LearningPython/blob/main/Lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
"""Lesson 2: Understanding programming basics"""

'Lesson 2: Understanding programming basics'

In [30]:
# values of a standard addition operation involve three values
value1 = 1
value2 = 2
value3 = value1 + value2
print("1 + 2 =", value3)

1 + 2 = 3

In [31]:
# if statements may only include two values that are compared to each other
value1 = 1
value2 = 5
if value1 < value2:
  print(value1, "<", value2)

1 < 5

In [32]:
# text data type
string_of_characters = "this is text"
print(string_of_characters)
print(type(string_of_characters))

this is text
<class 'str'>

In [33]:
# number data type (int, doubles, floats)
a = 3
b = 4.564

print(a, "is", type(a))
print(b, "is", type(b))

3 is <class 'int'>
4.564 is <class 'float'>

In [34]:
# true/false data type aka boolean values
a = 2
b = 3
result1 = a > b
result2 = a < b
print(result1, "is", type(result1))
print(result2, "is", type(result2))

False is <class 'bool'>
True is <class 'bool'>

In [35]:
# date/time data type
from datetime import date

today = date.today()
print("Today's date is:", today)
print(type(today))

Today's date is: 2022-04-23
<class 'datetime.date'>

In [36]:
# data collections (lists, sets, arrays)
list_of_items = ["Kate", "124 W Main Street Boston", 24, 4.0]
print(list_of_items)
print(type(list_of_items))

['Kate', '124 W Main Street Boston', 24, 4.0]
<class 'list'>

In [37]:
# calculating amount of carpet using abstract values for reusability

# variables
user_input_length = float(input("Enter length of the floor in feet: "))
user_input_width = float(input("Enter width of the floor in feet: "))
user_input_price = float(input("Enter price of selected carpet: "))

length = user_input_length
width = user_input_width
price = user_input_price

# calculation
total_footage = length * width
total_cost = total_footage * price

# output
print("Cost of carpeting:", total_cost)

Enter length of the floor in feet: 25
Enter width of the floor in feet: 25
Enter price of selected carpet: 2
Cost of carpeting: 1250.0

In [38]:
# example of dynamic typing

x = 75 # data type integer
print(type(x))

x = 6.458 # data type float
print(type(x))

x = "Hello, World!" # data type string
print(type(x))

print("The final value of x is:", x, type(x))

<class 'int'>
<class 'float'>
<class 'str'>
The final value of x is: Hello, World! <class 'str'>

In [39]:
# example of static or strongly typed 

"""

-declaring variables in java since python is dynamically typed

int quantity = 75 ;

float price = 6.458 ; 

String greeting = "Hello, World!" ;

-variables have to have different names

"""

'\n\n-declaring variables in java since python is dynamically typed\n\nint quantity = 75 ;\n\nfloat price = 6.458 ; \n\nString greeting = "Hello, World!" ;\n\n-variables have to have different names\n\n'

In [40]:
# daily tasks - creating basic incomplete algorithms

"""

-tying shoes: pick out shoes with laces, make sure laces are untied, put shoes 
on, use hands/fingers to tie shoes 

-loading dishwasher: check for dirty dishes around kitchen, if a dish is dirty 
then place in dishwasher, if dishwasher isn't open then open it and place dirty
dish into the dishwasher

-making a bed: wake up, get out of bed, pull sheets to head of bed one after 
the other, place pillows at head of bed

-create pb & j: get ingredients (two slices of bread, a jar of pb, and a jar of
jelly from proper locations), get two knives from utensil drawer, get plate 
from cabinent, make sandwich

"""

"\n\n-tying shoes: pick out shoes with laces, make sure laces are untied, put shoes \non, use hands/fingers to tie shoes \n\n-loading dishwasher: check for dirty dishes around kitchen, if a dish is dirty \nthen place in dishwasher, if dishwasher isn't open then open it and place dirty\ndish into the dishwasher\n\n-making a bed: wake up, get out of bed, pull sheets to head of bed one after \nthe other, place pillows at head of bed\n\n-create pb & j: get ingredients (two slices of bread, a jar of pb, and a jar of\njelly from proper locations), get two knives from utensil drawer, get plate \nfrom cabinent, make sandwich\n\n"

In [41]:
# a short python program similar to the one above

user_input_length = int(input("Enter length (whole number): "))
user_input_width = int(input("Enter width (whole number): "))
user_input_price = float(input("Enter price (number or decimal): "))

length = user_input_length
width = user_input_width
price = user_input_price

# do calculations
total_footage = length * width
total_cost = total_footage * price

# display results
print("------------------")
print("Length: ", length)
print("Width: ", width)
print("Total Footage: ", total_footage)
print("Total Cost: ", total_cost)

Enter length (whole number): 25
Enter width (whole number): 25
Enter price (number or decimal): 2
------------------
Length:  25
Width:  25
Total Footage:  625
Total Cost:  1250.0