<a href="https://colab.research.google.com/github/AnthonyIacullo/LearningPython/blob/main/Lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"""Lesson 2: Understanding programming basics"""

'Lesson 2: Understanding programming basics'

In [6]:
# values of a standard addition operation involve three values
value1 = 1
value2 = 2
value3 = value1 + value2
print("1 + 2 =", value3)

1 + 2 = 3

In [8]:
# if statements may only include two values that are compared to each other
value1 = 1
value2 = 5
if value1 < value2:
  print(value1, "<", value2)

1 < 5

In [11]:
# text data type
string_of_characters = "this is text"
print(string_of_characters)
print(type(string_of_characters))

this is text
<class 'str'>

In [19]:
# number data type (int, doubles, floats)
a = 3
b = 4.564

print(a, "is", type(a))
print(b, "is", type(b))

3 is <class 'int'>
4.564 is <class 'float'>

In [18]:
# true/false data type aka boolean values
a = 2
b = 3
result1 = a > b
result2 = a < b
print(result1, "is", type(result1))
print(result2, "is", type(result2))

False is <class 'bool'>
True is <class 'bool'>

In [22]:
# date/time data type
from datetime import date

today = date.today()
print("Today's date is:", today)
print(type(today))

Today's date is: 2022-04-22
<class 'datetime.date'>

In [27]:
# data collections (lists, sets, arrays)
list_of_items = ["Kate", "124 W Main Street Boston", 24, 4.0]
print(list_of_items)
print(type(list_of_items))

['Kate', '124 W Main Street Boston', 24, 4.0]
<class 'list'>