<a href="https://colab.research.google.com/github/AnthonyIacullo/LearningPython/blob/main/Lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
"""Lesson 4: Working with Basic Python Data Types"""

'Lesson 4: Working with Basic Python Data Types'

In [12]:
# Listing 4.1 - Declaring number variables

# variables defined
age = 33 # integer
tax_rate = 0.06 # float type
coordinates = 1+3.4j # complex type z : a+b*j

# output
print(age, type(age))
print(tax_rate, type(tax_rate))
print(coordinates, type(coordinates))

33 <class 'int'>
0.06 <class 'float'>
(1+3.4j) <class 'complex'>

In [13]:
# Listing 4.2 - Variables for a banking application

# variables defined
acctBal = 13445 ;
savInterest = 0.025 ;
months = 12 ;
alphanum = 1+52.4j ;

# output
print(acctBal, type(acctBal)) ;
print(savInterest, type(savInterest)) ;
print(months, type(months)) ;
print(alphanum, type(alphanum)) ;

13445 <class 'int'>
0.025 <class 'float'>
12 <class 'int'>
(1+52.4j) <class 'complex'>

In [14]:
# Listing 4.3 - Checking a variables type

# variables defined
a = 5 # int typr
b = 6.7 # float type
c = 1+2j # complex type
d = "2022" # string type inside quotation marks

# output
print(a, "is of", type(a)) ; print(b, "is of", type(b)) ; 
print(c, "is of", type(c)) ; print(d, "is of", type(d)) ;

5 is of <class 'int'>
6.7 is of <class 'float'>
(1+2j) is of <class 'complex'>
2022 is of <class 'str'>

In [15]:
# Listing 4.4 - Creating variables

# variables defined
acctBal = 13445 ;
savInterest = 0.025 ;
months = 12 ;
alphanum = 1+52.4j ;
numString = "12345" ;

# output
print(acctBal,"is of", type(acctBal)) ;
print(savInterest, "is of", type(savInterest)) ;
print(months, "is of", type(months)) ;
print(alphanum, "is of", type(alphanum)) ;
print(numString, "is of", type(numString)) ;

13445 is of <class 'int'>
0.025 is of <class 'float'>
12 is of <class 'int'>
(1+52.4j) is of <class 'complex'>
12345 is of <class 'str'>

In [16]:
# Listing 4.5 - Arithmetic operations

# variables defined before any operations
a = 50 # operand
b = 6 # operand

# operations
c = a + b # sum of a and b
d = a - b # difference between a and b
e = a * b # product of a and b
f = a / b # quotient of a and b
g = a // b # floored quotient of a and b
h = a % b # remainder of a / b
i = a ** b # a to the power of b

# output
print(c) ; print(d) ; print(e) ; print(f) ; print(g) ; print(h) ; print(i) ;

56
44
300
8.333333333333334
8
2
15625000000

In [21]:
# Listing 4.6 - Updated banking program with numeric variables

# variables defined
acctBal = 13445 ; # account balance
locBal = 16000 ; # line of credit balance
savBal = 4000 ; # savings balance
savInterest = 0.025 ; # savings interest
locInterest = 0.098 ; # line of credit interest

months = 12 ; 
years = 8.5 ;
numString = "12345" ;

# operations
result1 = acctBal + savBal -locBal ;
result2 = acctBal - locBal * locInterest ;
result3 = savBal * months * savInterest ;
result4 = acctBal / savBal / locBal ;
result5 = savBal * 1 + savInterest / months ** years ;

# output
print(result1) ; print(result2) ; print(result3) ; print(result4) ; 
print(result5) ; 

# warning message
print("\nResults of the calculations are wrong... due to PEMDAS")

1445
11877.0
1200.0
0.000210078125
4000.000000000017

Results of the calculations are wrong... due to PEMDAS

In [24]:
# Listing 4.7 - Predict the output of the calculation

# variables defined
a = 10
b = 20
c = 30

# operations
d = a - b * c
e = (a - b) * c
f = a % b ** c
g = (a % b) ** c

# output
print("a - b * c =", d) ; print("(a - b) * c =", e) ; 
print("a % b ** c =", f) ; print("(a % b) ** c =", g)

a - b * c = -590
(a - b) * c = -300
a % b ** c = 10
(a % b) ** c = 1000000000000000000000000000000