<a href="https://colab.research.google.com/github/AnthonyIacullo/LearningPython/blob/main/Reintroduction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
# python uses indentation to indicate a block of code
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
# python with throw an indentation error if you skip the indentation

"""

if 5 > 2: 
print("Five is grater than two!")

"""

'\n\nif 5 > 2: \nprint("Five is grater than two!")\n\n'

In [ ]:
# number of spaces for an indentation is up to you, four is common, needs at least one
if 5 > 2 :
  print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
# variables (don't have a command for declaration)
x = 5
y = "Hello, World!"

In [ ]:
# comments in Python use the pound/hashtag symbol which are ignored

# this is a comment
print("Hello, World!")

Hello, World!

In [ ]:
# comments can be placed at the end of a line

print("Hello, World!") # this is a comment

Hello, World!

In [ ]:
# comments can explain code of prevent code from executing

# print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
# two ways for a comment that spans multiple lines

# this is the first
# way to show a comment that
# uses multiple line
print("Hello, World!")

"""
This is the second
way to show a comment that
uses multiple lines
"""
print("Cheers, Mate!")

Hello, World!
Cheers, Mate!

In [ ]:
"""
Variables
-containers for storing data
-no command for declaring a variable
-variables are created the moment you first assign a value to it
"""

x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# var type doesn't need to be assigned
# var type can be changed

x = 4 # x is of type int
print(type(x)) # gets the data type
x = "Sally" # x is now of type str
print(type(x)) # gets the data type

<class 'int'>
<class 'str'>

In [ ]:
# cast a variable to specify the data type

x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

In [ ]:
# single or double quotes

x = "John" 
print(x)
# is the same as
x = 'John'
print(x)

John
John

In [ ]:
# variable names are case-sensitive

# the following will creat two variables
a = 4
A = "Sally"

# A will not overwrite a

print(a)
print(A)

4
Sally

In [ ]:
# ended on Variable Names